body {
    margin: 0;
    padding: 0;

    .container {

        .randomString{
            
            .text { 
                height: 30rem;
                width: 100%;
                font-family: serif;
                font-size: 50px;
                border: none;
                text-align: center;
            }
        }
        .btnArea {
            width: 100%;
            text-align: center;
            .btn {
                height: 3rem;
                width: 8rem;
                font-size: 20px;
                border: 2px solid #fff;
                border-radius: 5px;
            }
            .btn.randomBtn {
                background-color: rgb(38, 197, 32);
                color: #fff;
            }
            .btn.removeBtn {
                background: rgb(241, 82, 82);
                color: #fff;
            }
        }
    }
}